body {
	font-size: 2em;
}
button {
	width: 3em;
	height: 3em;
}
input {
	width: 12em;
	text-align: right;
}

button:focus {
  outline: none !important;
}

@media (max-width: 1080px) {
	button {
		width: 25vw;
		height: 25vw;
	}

	input {
		width: 100vw;
		height: calc(100vh - 125vw);
	}
}